/* backgrounds */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#starting-screen {
    background-image: url(art/menu_screen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#front-shop {
    display: none;
    position: relative;
    background-image: url(art/store_front.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#grooming-shop {
    display: none;
    position: relative;
    background-image: url(art/test2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.lineContainer {
    display: flex;
    padding-top: 300px;
    padding-left: 25px;
}

#lineCreature {
    z-index: 3;
    top: 20px;
    position: relative;
}

.line {
    margin-right: 25px;
    width: 150px;
}

/* top section */
.title {
    max-width: 700px;
    gap: 30px;
    text-align: center;
    padding: 30px;
    border-radius: 100px;
    background-color: orange;
}

/* buttons */
.buttons {
    max-width: 450px;
    gap: 30px;
    text-align: center;
    margin: 50px auto 50px auto;
    padding: 25px;
}

#start,
#credits {
    max-width: 300px;
    gap: 30px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 10px;
    border-radius: 100px;
    background-color: orange;
    color: green;
    font-size: 30px;
    font-family: "Alata";
}

#start:hover,
#credits:hover {
    color: white
}

.divider {
    width: 40px;
    height: auto;
    display: inline-block;
}

h1 {
    font-family: "Kablammo";
    color: green;
    font-size: 80px;
}

/* modal background */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0.541);
    /* Fallback color */
}

/* modal content and box */
.modal-content {
    max-width: 300px;
    background-color: orange;
    margin: 15% auto;
    padding: 40px;
    border-radius: 50px;
    font-family: "Alata";
    font-size: 20px;
    color: green;
}

/* close button */
.close {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#service-box {
    position: absolute;
    top: 75%;
    left: 35%;
    background-image: url(art/placeholder.jpeg);
    border-width: 10px;
    border-color: cadetblue;
    font-size: xx-large;
    padding-left: 50px;
    padding-top: 50px;
    width: 400px;
    height: 100px;
    text-shadow: 2px 2px #ffffff;
}

.groom {
    max-width: 300px;
    margin-top: 200px;
}

#groomContainer {
    position: relative;
    display: flex;
    max-width: 300px;
    margin-left: 35%;
    top: 150px;
}

#groomContainer img {
    position: relative;
    width: 400px;
}

#tool-placements {
    position: relative;
    max-width: 200px;
    display: flex;
    background-color: beige;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80%;
    top: -360px;
    user-select: none;

}

#tool-placements img {
    position: relative;
    width: 100px;
}

#health-bar {
    position: relative;
    display: flex;
    max-width: 350px;
    gap: 20px;
    margin-left: 20px;
    bottom: 450px;
}

#health-bar img {
    position: relative;
    width: 100px;
}

.drag img{
    pointer-events: none;
}

.drag {
    user-select: none;
}

#hB {
    background-color: #ffffff;
}